<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>.:: NeuralPHP Framework ::.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
    {%include 'Cliente/ModalValidacion.html'%}
    <div class="panel panel-default">
        <div class="panel-heading">Filtro de Clientes</div>
        <div class="panel-body">
            <form>
                <div class="row">
                    <div class="col-sm-8">
                        <div class="form-group row">
                            <label for="status" class="col-sm-2 col-form-label">Estado</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="status">
                                    <option>ACTIVO</option>
                                    <option>INACTIVO</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <label for="fechaInicio" class="col-sm-5 col-sm-offset-2 col-form-label">Fecha Inicio</label>
                            <label for="fechafinal" class="col-sm-5 col-form-label">Fecha Final</label>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Rango Fecha</label>
                            <div class="col-sm-5">
                                <input type="date" class="form-control" id="fechaInicio">
                            </div>
                            <div class="col-sm-5">
                                <input type="date" class="form-control" id="fechaFinal">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="radio">
                            <label><input type="radio" name="Edad" value="MAYOR">Mayor de Edad</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="Edad" value="MENOR">Menor de Edad</label>
                        </div>
                    </div>
                </div>
                <div class="text-right row">
                    <div class="col-sm-12">
                        <button type="button" class="btn btn-success" onclick="consultarCliente();">Consultar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body" id="tablaResultado">
            {%include 'Cliente/SinRegistros.html'%}
        </div>

    </div>
</div>

<script>

    function mostrarModal(Mensaje) {
        $("#mensajeModal").html(Mensaje);
        $("#modalValidacion").modal("show");
    }

    function validarCampos() {
        if ($("#fechaInicio").val() == ""){
            mostrarModal("Seleccione la Fecha Inicial");
            return false;
        }
        if ($("#fechaFinal").val() == ""){
            mostrarModal("Seleccione la Fecha Final");
            return false;
        }
        if(!$("input[name='Edad']").is(":checked")){
            mostrarModal("Seleccione una Edad");
            return false;
        }
        return true;
    }

    function paginarTabla() {
        var numRegistros = "{{RegistrosTotales}}";
        var cantidadElementos = ($('#numRegistros').val() != undefined) ? $('#numRegistros').val() : 5;
        console.log(cantidadElementos);
        var numPaginas = numRegistros / cantidadElementos;
        for(var i = 0; i<numPaginas;i++){
            if(i==0){
                $('.pagination').append("<li class='btnPagina active'><a class='clickado' onclick='clickElementoPaginacion(this)'>"+ (i+1) +"</a></li>");
            }else {
                $('.pagination').append("<li class='btnPagina'><a class='clickado' onclick='clickElementoPaginacion(this)'>" + (i + 1) + "</a></li>");
            }
        }
    }
    
    function consultarCliente() {
        if(validarCampos()){
            $.ajax({
                method: "post",
                data: {
                    status:$("#status").val(),
                    fechaInicio:$("#fechaInicio").val(),
                    fechaFinal:$("#fechaFinal").val(),
                    edad:$("input[name='Edad']:checked").val()

                },
                url:"{{NeuralRutaApp}}/Index/consultarCliente",
                success:function (data) {
                    $("#tablaResultado").html(data);
                    paginarTabla();
                }
            });
        }
    }
</script>

</body>
</html>