<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>.:: NeuralPHP Framework ::.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">Filtro de Clientes</div>
        <div class="panel-body">
            <form>
                <div class="form-group row">
                    <label for="status" class="col-sm-2 col-form-label">Estado</label>
                    <div class="col-sm-5">
                        <select class="form-control" id="status">
                            <option>Activo</option>
                            <option>Inactivo</option>
                            <option>Baja Temporal</option>
                            <option>Ruta Maxima</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <label for="fechaInicio" class="col-sm-5 col-sm-offset-2 col-form-label">Fecha Inicio</label>
                    <label for="fechafinal" class="col-sm-4 col-form-label">Fecha Final</label>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Rango Fecha</label>
                    <div class="col-sm-5">
                        <input type="date" class="form-control" id="fechaInicio">
                    </div>
                    <div class="col-sm-5">
                        <input type="date" class="form-control" id="fechaFinal">
                    </div>
                </div>
                <div class="text-right">
                    <button type="button" class="btn btn-success" onclick="consultarCliente();">Consultar</button>
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-default">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Edad</th>
                <th>Ciudad</th>
                <th>Fecha de Registro</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
    <div id="resultados">

    </div>
</div>

<script>
    function consultarCliente() {
        $.ajax({
            method: "post",
            data: {
                status:$("#status").val(),
                fechaInicio:$("#fechaInicio").val(),
                fechaFinal:$("#fechaFinal").val()
            },
            url:"{{NeuralRutaApp}}/Index/consultarCliente",
            success:function (data) {
                $("#resultados").html(data);
            }
        });
    }
</script>

</body>
</html>