<div class="col-sm-12" style="margin-bottom: 10px">
    <div class="col-sm-2" style="padding-left: 0px">
        <label for="numRegistros">Numero Registros</label>
        <select class="form-control" id="numRegistros">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
        </select>
    </div>

    <div class="col-sm-offset-6 col-sm-4">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" name="nombre" id="nombre">
        <input type="hidden" value="{{Condiciones}}" id="condiciones">
    </div>
</div>
<div class="col-sm-12" style="margin-bottom: 10px">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Edad</th>
            <th>Ciudad</th>
            <th>Fecha de Registro</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        {%for Cliente in Clientes%}
        <tr>
            <td>{{Cliente.Nombre}}</td>
            <td>{{Cliente.Edad}}</td>
            <td>{{Cliente.Ciudad}}</td>
            <td>{{Cliente.FechaRegistro}}</td>
            <td>{{Cliente.Status}}</td>
        </tr>
        {%endfor%}
        </tbody>
    </table>
</div>

<div class="col-sm-12" style="margin-bottom: 10px">
    <div class="col-sm-4" style="padding-left: 0px">
        <ul class="pagination">
        </ul>
    </div>
</div>

<script>
    $('#nombre').keyup(function (evt) {
        var texto = this.value;
        busquedaNombre(texto);
    });

    $('#numRegistros').change(function () {
        var texto = $('#nombre').val();
        busquedaNombre(texto);
    });

    function clickElementoPaginacion(elemento) {
        $('.btnPagina').removeClass('active');
        $(elemento).parent().addClass('active');
    }

    function paginarTabla() {
        var numRegistros = "{{RegistrosTotales}}";
        var cantidadElementos = ($('#numRegistros').val() != undefined) ? $('#numRegistros').val() : 5;
        var numPaginas = numRegistros / cantidadElementos;

        for(var i = 0; i<numPaginas;i++){
            $('.pagination').append("<li class='btnPagina'><a class='clickado' onclick='clickElementoPaginacion(this)'>"+ (i+1) +"</a></li>");
        }
    }

    function busquedaNombre(nombre) {

        var numeroRegistro = $('#numRegistros').val();
        $.ajax({
            method: "post",
            data: {
                nombre: nombre,
                numRegistros: numeroRegistro,
                condiciones: $("#condiciones").val()
            },
            url: "{{NeuralRutaApp}}/Index/consultarCliente",
            success: function (data) {
                $("#tablaResultado").html(data);
                $("#nombre").val(nombre);
                $("#numRegistros option[value='" + numeroRegistro + "']").attr('selected', true);
                $("#nombre").focus();
                paginarTabla();
            }
        });
    }
</script>
